# Employee Exit surveys
* We will clean and analyze employee exit surveys to find out main reason of employee exit.
* Are younger people resigning more due to dissatisfaction?
* Are employees joined in recent prone to resign more than older employees?

In [1]:
import pandas as pd
import numpy as np

In [2]:
dete_survey = pd.read_csv("dete_survey.csv")
tafe_survey = pd.read_csv("tafe_survey.csv")

In [3]:
dete_survey.info()
dete_survey.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 56 columns):
ID                                     822 non-null int64
SeparationType                         822 non-null object
Cease Date                             822 non-null object
DETE Start Date                        822 non-null object
Role Start Date                        822 non-null object
Position                               817 non-null object
Classification                         455 non-null object
Region                                 822 non-null object
Business Unit                          126 non-null object
Employment Status                      817 non-null object
Career move to public sector           822 non-null bool
Career move to private sector          822 non-null bool
Interpersonal conflicts                822 non-null bool
Job dissatisfaction                    822 non-null bool
Dissatisfaction with the department    822 non-null bool
Physical work environment              822 non-null bool
Lack of recognition                    822 non-null bool
Lack of job security                   822 non-null bool
Work location                          822 non-null bool
Employment conditions                  822 non-null bool
Maternity/family                       822 non-null bool
Relocation                             822 non-null bool
Study/Travel                           822 non-null bool
Ill Health                             822 non-null bool
Traumatic incident                     822 non-null bool
Work life balance                      822 non-null bool
Workload                               822 non-null bool
None of the above                      822 non-null bool
Professional Development               808 non-null object
Opportunities for promotion            735 non-null object
Staff morale                           816 non-null object
Workplace issue                        788 non-null object
Physical environment                   817 non-null object
Worklife balance                       815 non-null object
Stress and pressure support            810 non-null object
Performance of supervisor              813 non-null object
Peer support                           812 non-null object
Initiative                             813 non-null object
Skills                                 811 non-null object
Coach                                  767 non-null object
Career Aspirations                     746 non-null object
Feedback                               792 non-null object
Further PD                             768 non-null object
Communication                          814 non-null object
My say                                 812 non-null object
Information                            816 non-null object
Kept informed                          813 non-null object
Wellness programs                      766 non-null object
Health & Safety                        793 non-null object
Gender                                 798 non-null object
Age                                    811 non-null object
Aboriginal                             16 non-null object
Torres Strait                          3 non-null object
South Sea                              7 non-null object
Disability                             23 non-null object
NESB                                   32 non-null object
dtypes: bool(18), int64(1), object(37)
memory usage: 258.6+ KB

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Kept informed,Wellness programs,Health & Safety,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,1,Ill Health Retirement,08/2012,1984,2004,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,Not Stated,Not Stated,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011,2011,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,N,N,N,Male,61 or older,NaN,NaN,NaN,NaN,NaN
3,4,Resignation-Other reasons,05/2012,2005,2006,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,A,N,A,Female,36-40,NaN,NaN,NaN,NaN,NaN
4,5,Age Retirement,05/2012,1970,1989,Head of Curriculum/Head of Special Education,NaN,South East,NaN,Permanent Full-time,...,N,A,M,Female,61 or older,NaN,NaN,NaN,NaN,NaN

In [4]:
tafe_survey.info()
dete_survey.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 72 columns):
Record ID                                                                                                                                                        702 non-null float64
Institute                                                                                                                                                        702 non-null object
WorkArea                                                                                                                                                         702 non-null object
CESSATION YEAR                                                                                                                                                   695 non-null float64
Reason for ceasing employment                                                                                                                                    701 non-null object
Contributing Factors. Career Move - Public Sector                                                                                                                437 non-null object
Contributing Factors. Career Move - Private Sector                                                                                                               437 non-null object
Contributing Factors. Career Move - Self-employment                                                                                                              437 non-null object
Contributing Factors. Ill Health                                                                                                                                 437 non-null object
Contributing Factors. Maternity/Family                                                                                                                           437 non-null object
Contributing Factors. Dissatisfaction                                                                                                                            437 non-null object
Contributing Factors. Job Dissatisfaction                                                                                                                        437 non-null object
Contributing Factors. Interpersonal Conflict                                                                                                                     437 non-null object
Contributing Factors. Study                                                                                                                                      437 non-null object
Contributing Factors. Travel                                                                                                                                     437 non-null object
Contributing Factors. Other                                                                                                                                      437 non-null object
Contributing Factors. NONE                                                                                                                                       437 non-null object
Main Factor. Which of these was the main factor for leaving?                                                                                                     113 non-null object
InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction                                                                           608 non-null object
InstituteViews. Topic:2. I was given access to skills training to help me do my job better                                                                       613 non-null object
InstituteViews. Topic:3. I was given adequate opportunities for personal development                                                                             610 non-null object
InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%                                                              608 non-null object
InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had                                                                  615 non-null object
InstituteViews. Topic:6. The organisation recognised when staff did good work                                                                                    607 non-null object
InstituteViews. Topic:7. Management was generally supportive of me                                                                                               614 non-null object
InstituteViews. Topic:8. Management was generally supportive of my team                                                                                          608 non-null object
InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me                                                            610 non-null object
InstituteViews. Topic:10. Staff morale was positive within the Institute                                                                                         602 non-null object
InstituteViews. Topic:11. If I had a workplace issue it was dealt with quickly                                                                                   601 non-null object
InstituteViews. Topic:12. If I had a workplace issue it was dealt with efficiently                                                                               597 non-null object
InstituteViews. Topic:13. If I had a workplace issue it was dealt with discreetly                                                                                601 non-null object
WorkUnitViews. Topic:14. I was satisfied with the quality of the management and supervision within my work unit                                                  609 non-null object
WorkUnitViews. Topic:15. I worked well with my colleagues                                                                                                        605 non-null object
WorkUnitViews. Topic:16. My job was challenging and interesting                                                                                                  607 non-null object
WorkUnitViews. Topic:17. I was encouraged to use my initiative in the course of my work                                                                          610 non-null object
WorkUnitViews. Topic:18. I had sufficient contact with other people in my job                                                                                    613 non-null object
WorkUnitViews. Topic:19. I was given adequate support and co-operation by my peers to enable me to do my job                                                     609 non-null object
WorkUnitViews. Topic:20. I was able to use the full range of my skills in my job                                                                                 609 non-null object
WorkUnitViews. Topic:21. I was able to use the full range of my abilities in my job. ; Category:Level of Agreement; Question:YOUR VIEWS ABOUT YOUR WORK UNIT]    608 non-null object
WorkUnitViews. Topic:22. I was able to use the full range of my knowledge in my job                                                                              608 non-null object
WorkUnitViews. Topic:23. My job provided sufficient variety                                                                                                      611 non-null object
WorkUnitViews. Topic:24. I was able to cope with the level of stress and pressure in my job                                                                      610 non-null object
WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction                                                          611 non-null object
WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance                                                      606 non-null object
WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area                         610 non-null object
WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date    609 non-null object
WorkUnitViews. Topic:29. There was adequate communication between staff in my unit                                                                               603 non-null object
WorkUnitViews. Topic:30. Staff morale was positive within my work unit                                                                                           606 non-null object
Induction. Did you undertake Workplace Induction?                                                                                                                619 non-null object
InductionInfo. Topic:Did you undertake a Corporate Induction?                                                                                                    432 non-null object
InductionInfo. Topic:Did you undertake a Institute Induction?                                                                                                    483 non-null object
InductionInfo. Topic: Did you undertake Team Induction?                                                                                                          440 non-null object
InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                        555 non-null object
InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                             555 non-null object
InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?                                                                                   555 non-null object
InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?                                                                                       530 non-null object
InductionInfo. On-line Topic:Did you undertake a Institute Induction?                                                                                            555 non-null object
InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?                                                                                   553 non-null object
InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?                                                                                   555 non-null object
InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]                                                  555 non-null object
InductionInfo. Induction Manual Topic: Did you undertake Team Induction?                                                                                         555 non-null object
Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?                                                        608 non-null object
Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?                                                      594 non-null object
Workplace. Topic:Does your workplace promote and practice the principles of employment equity?                                                                   587 non-null object
Workplace. Topic:Does your workplace value the diversity of its employees?                                                                                       586 non-null object
Workplace. Topic:Would you recommend the Institute as an employer to others?                                                                                     581 non-null object
Gender. What is your Gender?                                                                                                                                     596 non-null object
CurrentAge. Current Age                                                                                                                                          596 non-null object
Employment Type. Employment Type                                                                                                                                 596 non-null object
Classification. Classification                                                                                                                                   596 non-null object
LengthofServiceOverall. Overall Length of Service at Institute (in years)                                                                                        596 non-null object
LengthofServiceCurrent. Length of Service at current workplace (in years)                                                                                        596 non-null object
dtypes: float64(2), object(70)
memory usage: 395.0+ KB

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Kept informed,Wellness programs,Health & Safety,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,1,Ill Health Retirement,08/2012,1984,2004,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,Not Stated,Not Stated,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,NaN

In [5]:
dete_survey.isnull()

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Kept informed,Wellness programs,Health & Safety,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
2,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,True,True,True,True,True
3,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
4,False,False,False,False,False,False,True,False,True,False,...,False,False,False,False,False,True,True,True,True,True
5,False,False,False,False,False,False,True,False,False,False,...,False,False,True,False,False,True,True,True,True,True
6,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
7,False,False,False,False,False,False,True,False,True,False,...,False,True,False,False,False,True,True,True,True,True
8,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
9,False,False,False,False,False,False,True,False,True,False,...,False,False,False,False,False,True,True,True,True,True
10,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,True,True,True,True
11,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
12,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
13,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
14,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
15,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
16,False,False,False,False,False,False,True,False,True,False,...,False,False,False,False,False,True,True,True,True,True
17,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
18,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,True,True,True,True,True
19,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,True,True,True,True,True
20,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
21,False,False,False,False,False,False,True,False,True,False,...,False,True,False,False,False,True,True,True,True,True
22,False,False,False,False,False,False,True,False,True,False,...,False,False,False,False,False,True,True,True,True,True
23,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
24,False,False,False,False,False,False,True,False,True,False,...,False,False,False,False,False,True,True,True,True,True
25,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
28,False,False,False,False,False,False,True,False,True,False,...,False,False,False,False,False,True,True,True,True,True
29,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,False,False,False,False,False,False,True,False,True,False,...,False,False,False,False,False,True,True,True,False,True
793,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
794,False,False,False,False,False,False,True,False,True,False,...,False,True,False,False,False,True,True,True,True,True
795,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
796,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
797,False,False,False,False,False,False,False,False,True,False,...,False,True,False,False,False,True,True,True,True,True
798,False,False,False,False,False,False,True,False,True,False,...,False,False,False,False,False,True,True,True,True,True
799,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
800,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
801,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
802,False,False,False,False,False,False,True,False,True,False,...,False,False,False,True,True,True,True,True,True,True
803,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
804,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
805,False,False,False,False,False,False,True,False,True,False,...,False,False,False,False,False,True,True,True,True,True
806,False,False,False,False,False,False,True,False,True,False,...,False,False,False,False,False,True,True,True,True,True
807,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
808,False,False,False,False,False,False,True,False,True,False,...,False,False,False,False,False,True,True,True,True,True
809,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
810,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
811,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,False,True
812,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
813,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
814,False,False,False,False,False,False,True,False,True,False,...,False,False,False,False,False,True,True,True,True,True
815,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
816,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
817,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
818,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
819,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
820,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,True,True,True,True
821,False,False,False,False,False,False,True,False,True,True,...,True,True,True,True,True,True,True,True,True,True

* In dete_survey, Classificatin has some of the null values, while most of values in columns Aboriginal, South Sea, Torres strait,  Disability and NESB are nul.

In [6]:
tafe_survey.isnull()

,Record ID,Institute,WorkArea,CESSATION YEAR,Reason for ceasing employment,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?,Workplace. Topic:Does your workplace promote and practice the principles of employment equity?,Workplace. Topic:Does your workplace value the diversity of its employees?,Workplace. Topic:Would you recommend the Institute as an employer to others?,Gender. What is your Gender?,CurrentAge. Current Age,Employment Type. Employment Type,Classification. Classification,LengthofServiceOverall. Overall Length of Service at Institute (in years),LengthofServiceCurrent. Length of Service at current workplace (in years)
0,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
19,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
21,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
673,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
674,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
675,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
676,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
677,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
678,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
679,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,False,False,False,False
680,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
681,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
682,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
683,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
684,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
685,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
686,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
687,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
688,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
689,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
690,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
691,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
692,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
693,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
694,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
695,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
696,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
697,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
698,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
699,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
700,False,False,False,False,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
701,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
dete_survey = pd.read_csv("dete_survey.csv", na_values = "Not Stated")
dete_survey.head()

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Kept informed,Wellness programs,Health & Safety,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,1,Ill Health Retirement,08/2012,1984.0,2004.0,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,NaN,NaN,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011.0,2011.0,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,N,N,N,Male,61 or older,NaN,NaN,NaN,NaN,NaN
3,4,Resignation-Other reasons,05/2012,2005.0,2006.0,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,A,N,A,Female,36-40,NaN,NaN,NaN,NaN,NaN
4,5,Age Retirement,05/2012,1970.0,1989.0,Head of Curriculum/Head of Special Education,NaN,South East,NaN,Permanent Full-time,...,N,A,M,Female,61 or older,NaN,NaN,NaN,NaN,NaN

In [8]:
dete_survey.shape

(822, 56)

In [9]:
dete_survey_updated = dete_survey.drop(dete_survey.columns[28:49], axis =1)

In [10]:
dete_survey_updated.shape

(822, 35)

In [11]:
tafe_survey.shape

(702, 72)

In [12]:
tafe_survey_updated = tafe_survey.drop(tafe_survey.columns[17:66], axis =1)
tafe_survey_updated.shape

(702, 23)

* Both dataframes contained many columns that we will not need for analysis or columns with Nan throughout. I dropped those columns to make our analysis more efficient.

In [13]:
dete_survey_updated.dtypes

ID                                       int64
SeparationType                          object
Cease Date                              object
DETE Start Date                        float64
Role Start Date                        float64
Position                                object
Classification                          object
Region                                  object
Business Unit                           object
Employment Status                       object
Career move to public sector              bool
Career move to private sector             bool
Interpersonal conflicts                   bool
Job dissatisfaction                       bool
Dissatisfaction with the department       bool
Physical work environment                 bool
Lack of recognition                       bool
Lack of job security                      bool
Work location                             bool
Employment conditions                     bool
Maternity/family                          bool
Relocation                                bool
Study/Travel                              bool
Ill Health                                bool
Traumatic incident                        bool
Work life balance                         bool
Workload                                  bool
None of the above                         bool
Gender                                  object
Age                                     object
Aboriginal                              object
Torres Strait                           object
South Sea                               object
Disability                              object
NESB                                    object
dtype: object

In [14]:
tafe_survey_updated.dtypes

Record ID                                                                    float64
Institute                                                                     object
WorkArea                                                                      object
CESSATION YEAR                                                               float64
Reason for ceasing employment                                                 object
Contributing Factors. Career Move - Public Sector                             object
Contributing Factors. Career Move - Private Sector                            object
Contributing Factors. Career Move - Self-employment                           object
Contributing Factors. Ill Health                                              object
Contributing Factors. Maternity/Family                                        object
Contributing Factors. Dissatisfaction                                         object
Contributing Factors. Job Dissatisfaction                                     object
Contributing Factors. Interpersonal Conflict                                  object
Contributing Factors. Study                                                   object
Contributing Factors. Travel                                                  object
Contributing Factors. Other                                                   object
Contributing Factors. NONE                                                    object
Gender. What is your Gender?                                                  object
CurrentAge. Current Age                                                       object
Employment Type. Employment Type                                              object
Classification. Classification                                                object
LengthofServiceOverall. Overall Length of Service at Institute (in years)     object
LengthofServiceCurrent. Length of Service at current workplace (in years)     object
dtype: object

In [15]:
dete_survey_updated.columns = dete_survey_updated.columns.str.replace(' ', '_').str.strip().str.lower()

In [16]:
dete_survey_updated.columns

Index(['id', 'separationtype', 'cease_date', 'dete_start_date',
       'role_start_date', 'position', 'classification', 'region',
       'business_unit', 'employment_status', 'career_move_to_public_sector',
       'career_move_to_private_sector', 'interpersonal_conflicts',
       'job_dissatisfaction', 'dissatisfaction_with_the_department',
       'physical_work_environment', 'lack_of_recognition',
       'lack_of_job_security', 'work_location', 'employment_conditions',
       'maternity/family', 'relocation', 'study/travel', 'ill_health',
       'traumatic_incident', 'work_life_balance', 'workload',
       'none_of_the_above', 'gender', 'age', 'aboriginal', 'torres_strait',
       'south_sea', 'disability', 'nesb'],
      dtype='object')

In [17]:
tafe_survey_updated.dtypes

Record ID                                                                    float64
Institute                                                                     object
WorkArea                                                                      object
CESSATION YEAR                                                               float64
Reason for ceasing employment                                                 object
Contributing Factors. Career Move - Public Sector                             object
Contributing Factors. Career Move - Private Sector                            object
Contributing Factors. Career Move - Self-employment                           object
Contributing Factors. Ill Health                                              object
Contributing Factors. Maternity/Family                                        object
Contributing Factors. Dissatisfaction                                         object
Contributing Factors. Job Dissatisfaction                                     object
Contributing Factors. Interpersonal Conflict                                  object
Contributing Factors. Study                                                   object
Contributing Factors. Travel                                                  object
Contributing Factors. Other                                                   object
Contributing Factors. NONE                                                    object
Gender. What is your Gender?                                                  object
CurrentAge. Current Age                                                       object
Employment Type. Employment Type                                              object
Classification. Classification                                                object
LengthofServiceOverall. Overall Length of Service at Institute (in years)     object
LengthofServiceCurrent. Length of Service at current workplace (in years)     object
dtype: object

In [18]:
tafe_survey_updated=tafe_survey_updated.rename(columns={"Record ID": "id", "CESSATION YEAR": "cease_date", "Reason for ceasing employment": "separationtype", "Gender. What is your Gender?": "gender", "CurrentAge. Current Age": "age", "Employment Type. Employment Type": "employment_status", "Classification. Classification": "position", "LengthofServiceOverall. Overall Length of Service at Institute (in years)": "institute_service", "LengthofServiceCurrent. Length of Service at current workplace (in years)": "role_service"})
tafe_survey_updated.head()

,id,Institute,WorkArea,cease_date,separationtype,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Contributing Factors. Study,Contributing Factors. Travel,Contributing Factors. Other,Contributing Factors. NONE,gender,age,employment_status,position,institute_service,role_service
0,6.341330e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2
1,6.341337e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Retirement,-,-,-,-,-,...,-,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN
2,6.341388e+17,Mount Isa Institute of TAFE,Delivery (teaching),2010.0,Retirement,-,-,-,-,-,...,-,-,-,NONE,NaN,NaN,NaN,NaN,NaN,NaN
3,6.341399e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,-,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN
4,6.341466e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Male,41 45,Permanent Full-time,Teacher (including LVT),3-4,3-4

In [19]:
tafe_survey_updated.dtypes

id                                                     float64
Institute                                               object
WorkArea                                                object
cease_date                                             float64
separationtype                                          object
Contributing Factors. Career Move - Public Sector       object
Contributing Factors. Career Move - Private Sector      object
Contributing Factors. Career Move - Self-employment     object
Contributing Factors. Ill Health                        object
Contributing Factors. Maternity/Family                  object
Contributing Factors. Dissatisfaction                   object
Contributing Factors. Job Dissatisfaction               object
Contributing Factors. Interpersonal Conflict            object
Contributing Factors. Study                             object
Contributing Factors. Travel                            object
Contributing Factors. Other                             object
Contributing Factors. NONE                              object
gender                                                  object
age                                                     object
employment_status                                       object
position                                                object
institute_service                                       object
role_service                                            object
dtype: object

In [20]:
tafe_survey_updated.columns = tafe_survey_updated.columns.str.replace(' ', '_').str.strip().str.lower()

In [21]:
tafe_survey_updated.dtypes

id                                                     float64
institute                                               object
workarea                                                object
cease_date                                             float64
separationtype                                          object
contributing_factors._career_move_-_public_sector_      object
contributing_factors._career_move_-_private_sector_     object
contributing_factors._career_move_-_self-employment     object
contributing_factors._ill_health                        object
contributing_factors._maternity/family                  object
contributing_factors._dissatisfaction                   object
contributing_factors._job_dissatisfaction               object
contributing_factors._interpersonal_conflict            object
contributing_factors._study                             object
contributing_factors._travel                            object
contributing_factors._other                             object
contributing_factors._none                              object
gender                                                  object
age                                                     object
employment_status                                       object
position                                                object
institute_service                                       object
role_service                                            object
dtype: object

In [22]:
tafe_survey_updated.head()

,id,institute,workarea,cease_date,separationtype,contributing_factors._career_move_-_public_sector_,contributing_factors._career_move_-_private_sector_,contributing_factors._career_move_-_self-employment,contributing_factors._ill_health,contributing_factors._maternity/family,...,contributing_factors._study,contributing_factors._travel,contributing_factors._other,contributing_factors._none,gender,age,employment_status,position,institute_service,role_service
0,6.341330e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2
1,6.341337e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Retirement,-,-,-,-,-,...,-,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN
2,6.341388e+17,Mount Isa Institute of TAFE,Delivery (teaching),2010.0,Retirement,-,-,-,-,-,...,-,-,-,NONE,NaN,NaN,NaN,NaN,NaN,NaN
3,6.341399e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,-,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN
4,6.341466e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Male,41 45,Permanent Full-time,Teacher (including LVT),3-4,3-4

In [23]:
dete_survey_updated.head()

,id,separationtype,cease_date,dete_start_date,role_start_date,position,classification,region,business_unit,employment_status,...,work_life_balance,workload,none_of_the_above,gender,age,aboriginal,torres_strait,south_sea,disability,nesb
0,1,Ill Health Retirement,08/2012,1984.0,2004.0,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,False,False,True,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,NaN,NaN,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,False,False,False,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011.0,2011.0,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,False,False,True,Male,61 or older,NaN,NaN,NaN,NaN,NaN
3,4,Resignation-Other reasons,05/2012,2005.0,2006.0,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,False,False,False,Female,36-40,NaN,NaN,NaN,NaN,NaN
4,5,Age Retirement,05/2012,1970.0,1989.0,Head of Curriculum/Head of Special Education,NaN,South East,NaN,Permanent Full-time,...,True,False,False,Female,61 or older,NaN,NaN,NaN,NaN,NaN

* Columns in both dataframes with same information are renamed to match, so we can merge both dataframe.
* In tafe_survey, record id has some missing value or different type of value - we may need to take care of this.

In [24]:
dete_survey_updated['separationtype'].value_counts(dropna =False)

Age Retirement                          285
Resignation-Other reasons               150
Resignation-Other employer               91
Resignation-Move overseas/interstate     70
Voluntary Early Retirement (VER)         67
Ill Health Retirement                    61
Other                                    49
Contract Expired                         34
Termination                              15
Name: separationtype, dtype: int64

In [25]:
tafe_survey_updated['separationtype'].value_counts(dropna =True)

Resignation                 340
Contract Expired            127
Retrenchment/ Redundancy    104
Retirement                   82
Transfer                     25
Termination                  23
Name: separationtype, dtype: int64

In [26]:
tafe_resignations = tafe_survey_updated[tafe_survey_updated.separationtype=='Resignation']

In [27]:
tafe_resignations["separationtype"].value_counts()

Resignation    340
Name: separationtype, dtype: int64

In [28]:
array = ['Resignation-Other reasons', 'Resignation-Other employer', 'Resignation-Move overseas/interstate']
dete_resignations= dete_survey_updated.loc[dete_survey_updated['separationtype'].isin(array)]

In [29]:
dete_resignations["separationtype"].value_counts()

Resignation-Other reasons               150
Resignation-Other employer               91
Resignation-Move overseas/interstate     70
Name: separationtype, dtype: int64

* As only purpose of this project is to find reason of employee resignations, we kept only those surveys where employees resigned. We will disregard other reasons of separataion.

In [30]:
dete_resignations["cease_date"].value_counts()

2012       126
2013        74
01/2014     22
12/2013     17
06/2013     14
09/2013     11
07/2013      9
11/2013      9
10/2013      6
08/2013      4
05/2013      2
05/2012      2
07/2006      1
2010         1
07/2012      1
09/2010      1
Name: cease_date, dtype: int64

In [31]:
pattern = r"([1-2][0-9][0-9][0-9])"
dete_resignations["cease_date"] = dete_resignations["cease_date"].str.extract(pattern)

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  from ipykernel import kernelapp as app
/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [32]:
dete_resignations["cease_date"].astype(float)

3      2012.0
5      2012.0
8      2012.0
9      2012.0
11     2012.0
12     2012.0
14     2012.0
16     2012.0
20     2012.0
21     2012.0
22     2012.0
23     2012.0
25     2012.0
27     2012.0
33     2012.0
34     2012.0
37     2012.0
39     2012.0
40     2012.0
41     2012.0
42     2012.0
43     2012.0
48     2012.0
50     2012.0
51     2012.0
55     2012.0
57     2012.0
61     2012.0
69     2012.0
71     2012.0
        ...
747    2014.0
751    2013.0
752    2013.0
753    2013.0
755    2013.0
762    2006.0
766    2014.0
769    2013.0
770       NaN
771    2014.0
774       NaN
784    2013.0
786    2014.0
788       NaN
789    2014.0
790    2014.0
791       NaN
794    2013.0
797       NaN
798       NaN
802    2013.0
803    2014.0
804    2014.0
806    2013.0
807    2013.0
808    2013.0
815    2014.0
816    2014.0
819    2014.0
821    2013.0
Name: cease_date, Length: 311, dtype: float64

In [33]:
dete_resignations["cease_date"].value_counts()

2013    146
2012    129
2014     22
2010      2
2006      1
Name: cease_date, dtype: int64

In [34]:
dete_resignations["dete_start_date"].value_counts()

2011.0    24
2008.0    22
2007.0    21
2012.0    21
2010.0    17
2005.0    15
2004.0    14
2009.0    13
2006.0    13
2013.0    10
2000.0     9
1999.0     8
1996.0     6
2002.0     6
1992.0     6
1998.0     6
2003.0     6
1994.0     6
1993.0     5
1990.0     5
1980.0     5
1997.0     5
1991.0     4
1989.0     4
1988.0     4
1995.0     4
2001.0     3
1985.0     3
1986.0     3
1983.0     2
1976.0     2
1974.0     2
1971.0     1
1972.0     1
1984.0     1
1982.0     1
1987.0     1
1975.0     1
1973.0     1
1977.0     1
1963.0     1
Name: dete_start_date, dtype: int64

In [35]:
tafe_resignations["cease_date"].value_counts()

2011.0    116
2012.0     94
2010.0     68
2013.0     55
2009.0      2
Name: cease_date, dtype: int64

* Most employees resigned in 2013

In [36]:
dete_resignations['cease_date'].dropna()

3      2012
5      2012
8      2012
9      2012
11     2012
12     2012
14     2012
16     2012
20     2012
21     2012
22     2012
23     2012
25     2012
27     2012
33     2012
34     2012
37     2012
39     2012
40     2012
41     2012
42     2012
43     2012
48     2012
50     2012
51     2012
55     2012
57     2012
61     2012
69     2012
71     2012
       ...
727    2014
730    2013
731    2014
735    2013
737    2013
744    2013
747    2014
751    2013
752    2013
753    2013
755    2013
762    2006
766    2014
769    2013
771    2014
784    2013
786    2014
789    2014
790    2014
794    2013
802    2013
803    2014
804    2014
806    2013
807    2013
808    2013
815    2014
816    2014
819    2014
821    2013
Name: cease_date, Length: 300, dtype: object

In [37]:
dete_resignations['dete_start_date'].dropna()

3      2005.0
5      1994.0
8      2009.0
9      1997.0
11     2009.0
12     1998.0
14     2007.0
20     1982.0
21     1980.0
22     1997.0
23     1973.0
25     1995.0
27     2005.0
33     2003.0
34     2006.0
37     2011.0
40     1977.0
41     1974.0
42     2011.0
43     1976.0
48     2009.0
50     2009.0
51     1993.0
55     2008.0
57     2003.0
61     2011.0
69     2006.0
71     2011.0
87     2007.0
90     1986.0
        ...
735    2006.0
737    1999.0
744    1991.0
747    2008.0
751    2005.0
752    1998.0
753    2004.0
755    2012.0
762    2006.0
766    2007.0
769    2008.0
770    1987.0
771    2002.0
774    2005.0
784    2013.0
786    1994.0
788    1990.0
789    1983.0
790    2008.0
791    2007.0
797    2000.0
798    1995.0
803    2004.0
804    2008.0
806    2005.0
807    2004.0
808    2010.0
815    2012.0
816    2012.0
819    2009.0
Name: dete_start_date, Length: 283, dtype: float64

In [38]:

dete_resignations['cease_date']= dete_resignations['cease_date'].astype(float)
dete_resignations['dete_start_date']= dete_resignations['dete_start_date'].astype(float)
#dete_resignations[["cease_date", "dete_start_date"]] = dete_resignations[["cease_date", "dete_start_date"]].astype(float)

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [39]:
dete_resignations.head()

,id,separationtype,cease_date,dete_start_date,role_start_date,position,classification,region,business_unit,employment_status,...,work_life_balance,workload,none_of_the_above,gender,age,aboriginal,torres_strait,south_sea,disability,nesb
3,4,Resignation-Other reasons,2012.0,2005.0,2006.0,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,False,False,False,Female,36-40,NaN,NaN,NaN,NaN,NaN
5,6,Resignation-Other reasons,2012.0,1994.0,1997.0,Guidance Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,False,False,False,Female,41-45,NaN,NaN,NaN,NaN,NaN
8,9,Resignation-Other reasons,2012.0,2009.0,2009.0,Teacher,Secondary,North Queensland,NaN,Permanent Full-time,...,False,False,False,Female,31-35,NaN,NaN,NaN,NaN,NaN
9,10,Resignation-Other employer,2012.0,1997.0,2008.0,Teacher Aide,NaN,NaN,NaN,Permanent Part-time,...,False,False,False,Female,46-50,NaN,NaN,NaN,NaN,NaN
11,12,Resignation-Move overseas/interstate,2012.0,2009.0,2009.0,Teacher,Secondary,Far North Queensland,NaN,Permanent Full-time,...,False,False,False,Male,31-35,NaN,NaN,NaN,NaN,NaN

In [40]:
val1=(dete_resignations['cease_date'])
val2=(dete_resignations['dete_start_date'])

In [41]:
dete_resignations['institute_service']= val1 - val2

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [42]:
dete_resignations.dtypes

id                                       int64
separationtype                          object
cease_date                             float64
dete_start_date                        float64
role_start_date                        float64
position                                object
classification                          object
region                                  object
business_unit                           object
employment_status                       object
career_move_to_public_sector              bool
career_move_to_private_sector             bool
interpersonal_conflicts                   bool
job_dissatisfaction                       bool
dissatisfaction_with_the_department       bool
physical_work_environment                 bool
lack_of_recognition                       bool
lack_of_job_security                      bool
work_location                             bool
employment_conditions                     bool
maternity/family                          bool
relocation                                bool
study/travel                              bool
ill_health                                bool
traumatic_incident                        bool
work_life_balance                         bool
workload                                  bool
none_of_the_above                         bool
gender                                  object
age                                     object
aboriginal                              object
torres_strait                           object
south_sea                               object
disability                              object
nesb                                    object
institute_service                      float64
dtype: object

In [43]:
dete_resignations.head(5)

,id,separationtype,cease_date,dete_start_date,role_start_date,position,classification,region,business_unit,employment_status,...,workload,none_of_the_above,gender,age,aboriginal,torres_strait,south_sea,disability,nesb,institute_service
3,4,Resignation-Other reasons,2012.0,2005.0,2006.0,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,False,False,Female,36-40,NaN,NaN,NaN,NaN,NaN,7.0
5,6,Resignation-Other reasons,2012.0,1994.0,1997.0,Guidance Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,False,False,Female,41-45,NaN,NaN,NaN,NaN,NaN,18.0
8,9,Resignation-Other reasons,2012.0,2009.0,2009.0,Teacher,Secondary,North Queensland,NaN,Permanent Full-time,...,False,False,Female,31-35,NaN,NaN,NaN,NaN,NaN,3.0
9,10,Resignation-Other employer,2012.0,1997.0,2008.0,Teacher Aide,NaN,NaN,NaN,Permanent Part-time,...,False,False,Female,46-50,NaN,NaN,NaN,NaN,NaN,15.0
11,12,Resignation-Move overseas/interstate,2012.0,2009.0,2009.0,Teacher,Secondary,Far North Queensland,NaN,Permanent Full-time,...,False,False,Male,31-35,NaN,NaN,NaN,NaN,NaN,3.0
12,13,Resignation-Other reasons,2012.0,1998.0,1998.0,Teacher,Primary,Far North Queensland,NaN,Permanent Full-time,...,False,False,Female,36-40,NaN,NaN,NaN,NaN,NaN,14.0
14,15,Resignation-Other employer,2012.0,2007.0,2010.0,Teacher,Secondary,Central Queensland,NaN,Permanent Full-time,...,False,False,Male,31-35,NaN,NaN,NaN,NaN,NaN,5.0
16,17,Resignation-Other reasons,2012.0,NaN,NaN,Teacher Aide,NaN,South East,NaN,Permanent Part-time,...,False,False,Male,61 or older,NaN,NaN,NaN,NaN,NaN,NaN
20,21,Resignation-Other employer,2012.0,1982.0,1982.0,Teacher,Secondary,Central Queensland,NaN,Permanent Full-time,...,False,True,Male,56-60,NaN,NaN,NaN,NaN,NaN,30.0
21,22,Resignation-Other reasons,2012.0,1980.0,2009.0,Cleaner,NaN,Darling Downs South West,NaN,Permanent Part-time,...,False,False,Female,51-55,NaN,NaN,NaN,NaN,NaN,32.0
22,23,Resignation-Other reasons,2012.0,1997.0,1998.0,School Administrative Staff,NaN,Metropolitan,NaN,Permanent Part-time,...,False,False,Female,46-50,NaN,NaN,NaN,NaN,NaN,15.0
23,24,Resignation-Other reasons,2012.0,1973.0,2012.0,Teacher,Primary,North Queensland,NaN,Permanent Full-time,...,False,False,Female,61 or older,NaN,NaN,NaN,NaN,NaN,39.0
25,26,Resignation-Other reasons,2012.0,1995.0,2002.0,Teacher,Primary,South East,NaN,Permanent Part-time,...,False,False,Female,41-45,NaN,NaN,NaN,NaN,NaN,17.0
27,28,Resignation-Other employer,2012.0,2005.0,2011.0,Public Servant,AO5-AO7,Central Office,Information and Technologies,Permanent Full-time,...,False,False,Female,21-25,Yes,NaN,NaN,NaN,NaN,7.0
33,34,Resignation-Other reasons,2012.0,2003.0,2003.0,Teacher,Secondary,NaN,NaN,Permanent Full-time,...,False,False,Male,36-40,NaN,NaN,NaN,Yes,NaN,9.0

In [44]:
dete_resignations["institute_service"].value_counts()

5.0     23
1.0     22
3.0     20
0.0     20
6.0     17
4.0     16
9.0     14
2.0     14
7.0     13
13.0     8
8.0      8
20.0     7
15.0     7
10.0     6
22.0     6
14.0     6
17.0     6
12.0     6
16.0     5
18.0     5
23.0     4
11.0     4
24.0     4
39.0     3
19.0     3
21.0     3
32.0     3
28.0     2
26.0     2
25.0     2
30.0     2
36.0     2
29.0     1
33.0     1
42.0     1
27.0     1
41.0     1
35.0     1
38.0     1
34.0     1
49.0     1
31.0     1
Name: institute_service, dtype: int64

*  We created institute_service column to match with tafe_survey, so in future we can merge dataframes and analyze if recently hired emploees are resigning more than older employees.

In [45]:
tafe_resignations["contributing_factors._dissatisfaction"].value_counts()

-                                         277
Contributing Factors. Dissatisfaction      55
Name: contributing_factors._dissatisfaction, dtype: int64

In [46]:
tafe_resignations["contributing_factors._job_dissatisfaction"].value_counts()

-                      270
Job Dissatisfaction     62
Name: contributing_factors._job_dissatisfaction, dtype: int64

In [47]:
tafe_resignations.dtypes

id                                                     float64
institute                                               object
workarea                                                object
cease_date                                             float64
separationtype                                          object
contributing_factors._career_move_-_public_sector_      object
contributing_factors._career_move_-_private_sector_     object
contributing_factors._career_move_-_self-employment     object
contributing_factors._ill_health                        object
contributing_factors._maternity/family                  object
contributing_factors._dissatisfaction                   object
contributing_factors._job_dissatisfaction               object
contributing_factors._interpersonal_conflict            object
contributing_factors._study                             object
contributing_factors._travel                            object
contributing_factors._other                             object
contributing_factors._none                              object
gender                                                  object
age                                                     object
employment_status                                       object
position                                                object
institute_service                                       object
role_service                                            object
dtype: object

In [48]:
def update_vals (val):
    if pd.isnull(val):
        return np.nan
    elif val == '-':
        return False
    else:
        return True

In [49]:
tafe_resignations["contributing_factors._job_dissatisfaction"]=tafe_resignations["contributing_factors._job_dissatisfaction"].apply(update_vals)

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [50]:
tafe_resignations["contributing_factors._dissatisfaction"]=tafe_resignations["contributing_factors._dissatisfaction"].apply(update_vals)

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [51]:
tafe_resignations["contributing_factors._job_dissatisfaction"]

3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
13     False
14      True
15     False
16       NaN
17      True
18       NaN
19     False
20      True
21     False
22     False
23     False
24     False
26      True
27     False
29     False
32     False
36     False
37     False
39     False
40     False
41     False
42     False
       ...
659    False
660    False
661     True
665    False
666    False
669    False
670      NaN
671     True
675     True
676    False
677    False
678    False
679    False
681    False
682    False
683    False
684    False
685     True
686    False
688    False
689     True
690    False
691    False
693    False
694    False
696    False
697    False
698    False
699    False
701    False
Name: contributing_factors._job_dissatisfaction, Length: 340, dtype: object

In [52]:
tafe_resignations.head()

,id,institute,workarea,cease_date,separationtype,contributing_factors._career_move_-_public_sector_,contributing_factors._career_move_-_private_sector_,contributing_factors._career_move_-_self-employment,contributing_factors._ill_health,contributing_factors._maternity/family,...,contributing_factors._study,contributing_factors._travel,contributing_factors._other,contributing_factors._none,gender,age,employment_status,position,institute_service,role_service
3,6.341399e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,-,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN
4,6.341466e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Male,41 45,Permanent Full-time,Teacher (including LVT),3-4,3-4
5,6.341475e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,56 or older,Contract/casual,Teacher (including LVT),7-10,7-10
6,6.341520e+17,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,Career Move - Private Sector,-,-,Maternity/Family,...,-,-,Other,-,Male,20 or younger,Temporary Full-time,Administration (AO),3-4,3-4
7,6.341537e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Male,46 50,Permanent Full-time,Teacher (including LVT),3-4,3-4

In [53]:
tafe_resignations['dissatisfied'] = tafe_resignations.any(axis=1, skipna=False)
dete_resignations['dissatisfied'] = dete_resignations.any(axis=1, skipna=False)

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [54]:
dete_resignations_up = dete_resignations
tafe_resignations_up = tafe_resignations

*  From both dataframes above, I can see that cause of the resignations is dissatisfactions.

In [55]:
dete_resignations_up['institute'] = "DETE"
tafe_resignations_up['institute'] = "TAFE"

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [61]:
combined_updated = pd.concat([tafe_resignations_up, dete_resignations_up])

In [62]:
combined_updated.shape

(651, 52)

In [63]:
combined_updated1=combined_updated.dropna(thresh =500, axis=1)


combined_updated1.head()

,age,cease_date,dissatisfied,employment_status,gender,id,institute,institute_service,position,separationtype
3,NaN,2010.0,True,NaN,NaN,6.341399e+17,TAFE,NaN,NaN,Resignation
4,41 45,2010.0,True,Permanent Full-time,Male,6.341466e+17,TAFE,3-4,Teacher (including LVT),Resignation
5,56 or older,2010.0,True,Contract/casual,Female,6.341475e+17,TAFE,7-10,Teacher (including LVT),Resignation
6,20 or younger,2010.0,True,Temporary Full-time,Male,6.341520e+17,TAFE,3-4,Administration (AO),Resignation
7,46 50,2010.0,True,Permanent Full-time,Male,6.341537e+17,TAFE,3-4,Teacher (including LVT),Resignation

In [64]:
combined_updated1.shape

(651, 10)

*  Only 10 columns in combinded dataframe has more than 500 nonnull values. We can use that for further analysis.

In [85]:
combined_updated1['institute_service'].value_counts()

nan                   88
Less than 1 year      73
1-2                   64
3-4                   63
5-6                   33
11-20                 26
5.0                   23
1.0                   22
7-10                  21
0.0                   20
3.0                   20
6.0                   17
4.0                   16
2.0                   14
9.0                   14
7.0                   13
More than 20 years    10
8.0                    8
13.0                   8
20.0                   7
15.0                   7
10.0                   6
12.0                   6
22.0                   6
14.0                   6
17.0                   6
18.0                   5
16.0                   5
24.0                   4
23.0                   4
11.0                   4
19.0                   3
32.0                   3
39.0                   3
21.0                   3
36.0                   2
30.0                   2
28.0                   2
25.0                   2
26.0                   2
49.0                   1
31.0                   1
27.0                   1
34.0                   1
33.0                   1
42.0                   1
41.0                   1
35.0                   1
29.0                   1
38.0                   1
Name: institute_service, dtype: int64

In [101]:
combined_updated1['institute_service']=combined_updated1['institute_service'].astype(str)

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [102]:
def cat_level(c):
    if c == "1-2":
        return 1
    elif c == "3-4":
        return 3
    elif c == "5-6":
        return 5
    elif c == "7-10":
        return 7
    elif c == "11-20":
        return 12
    elif c== "Less than 1 year":
        return 1
    elif c== "More than 20 years":
        return 21
    else:
        return c

In [107]:
combined_updated1['institute_service1']=combined_updated1['institute_service'].apply(cat_level)

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [109]:
combined_updated1['institute_service1'].value_counts()

1       137
nan      88
3        63
5        33
12       26
5.0      23
1.0      22
7        21
3.0      20
0.0      20
6.0      17
4.0      16
2.0      14
9.0      14
7.0      13
21       10
8.0       8
13.0      8
15.0      7
20.0      7
14.0      6
17.0      6
10.0      6
22.0      6
12.0      6
18.0      5
16.0      5
23.0      4
24.0      4
11.0      4
39.0      3
19.0      3
21.0      3
32.0      3
25.0      2
36.0      2
26.0      2
28.0      2
30.0      2
31.0      1
27.0      1
33.0      1
38.0      1
42.0      1
34.0      1
35.0      1
41.0      1
49.0      1
29.0      1
Name: institute_service1, dtype: int64

In [142]:
def update_ser (val):
    if pd.isnull(val):
        return np.nan
    elif val < 3.0:
        return 'New'
    elif (val >= 3.0) & (val <= 6.0):
        return 'Experienced'
    elif (val >= 7.0) & (val <=10.0):
        return 'Established'
    else:
        return 'Veteran'

In [139]:
def update_ser (val):
    if pd.isnull(val):
        return np.nan
    elif val < 3.0:
        return 'New'
    else:
        return 'Veteran'

In [137]:
combined_updated1["institute_service2"]

3       NaN
4       3.0
5       7.0
6       3.0
7       3.0
8       3.0
9       1.0
10      1.0
13     12.0
14      7.0
15     12.0
16      NaN
17      7.0
18      NaN
19      NaN
20      NaN
21      NaN
22      5.0
23      1.0
24      7.0
26      NaN
27     21.0
29      1.0
32      1.0
36      NaN
37      NaN
39      NaN
40      1.0
41     12.0
42      3.0
       ...
747     6.0
751     8.0
752    15.0
753     9.0
755     1.0
762     0.0
766     7.0
769     5.0
770     NaN
771    12.0
774     NaN
784     0.0
786    20.0
788     NaN
789    31.0
790     6.0
791     NaN
794     NaN
797     NaN
798     NaN
802     NaN
803    10.0
804     6.0
806     8.0
807     9.0
808     3.0
815     2.0
816     2.0
819     5.0
821     NaN
Name: institute_service2, Length: 651, dtype: float64

In [143]:
combined_updated1['service_cat']=combined_updated1["institute_service2"].apply(update_ser)

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [144]:
combined_updated1.head()

,age,cease_date,dissatisfied,employment_status,gender,id,institute,institute_service,position,separationtype,institute_service1,institute_service2,service_cat
3,NaN,2010.0,True,NaN,NaN,6.341399e+17,TAFE,nan,NaN,Resignation,nan,NaN,NaN
4,41 45,2010.0,True,Permanent Full-time,Male,6.341466e+17,TAFE,3-4,Teacher (including LVT),Resignation,3,3.0,Experienced
5,56 or older,2010.0,True,Contract/casual,Female,6.341475e+17,TAFE,7-10,Teacher (including LVT),Resignation,7,7.0,Established
6,20 or younger,2010.0,True,Temporary Full-time,Male,6.341520e+17,TAFE,3-4,Administration (AO),Resignation,3,3.0,Experienced
7,46 50,2010.0,True,Permanent Full-time,Male,6.341537e+17,TAFE,3-4,Teacher (including LVT),Resignation,3,3.0,Experienced

In [145]:
combined_updated1['service_cat'].value_counts()

New            193
Experienced    172
Veteran        136
Established     62
Name: service_cat, dtype: int64

* I did format institute service column to match rest of the records from other dataframe.
* I did sort them in groups based on years of service.
* Newer employees are more likely to resign.

In [148]:
combined_updated1['dissatisfied'].value_counts()

True    651
Name: dissatisfied, dtype: int64

In [181]:
combined_updated_fin = pd.concat([tafe_resignations, dete_resignations])

In [182]:
combined_updated_fin.dtypes

aboriginal                                              object
age                                                     object
business_unit                                           object
career_move_to_private_sector                           object
career_move_to_public_sector                            object
cease_date                                             float64
classification                                          object
contributing_factors._career_move_-_private_sector_     object
contributing_factors._career_move_-_public_sector_      object
contributing_factors._career_move_-_self-employment     object
contributing_factors._dissatisfaction                   object
contributing_factors._ill_health                        object
contributing_factors._interpersonal_conflict            object
contributing_factors._job_dissatisfaction               object
contributing_factors._maternity/family                  object
contributing_factors._none                              object
contributing_factors._other                             object
contributing_factors._study                             object
contributing_factors._travel                            object
dete_start_date                                        float64
disability                                              object
dissatisfaction_with_the_department                     object
dissatisfied                                              bool
employment_conditions                                   object
employment_status                                       object
gender                                                  object
id                                                     float64
ill_health                                              object
institute                                               object
institute_service                                       object
interpersonal_conflicts                                 object
job_dissatisfaction                                     object
lack_of_job_security                                    object
lack_of_recognition                                     object
maternity/family                                        object
nesb                                                    object
none_of_the_above                                       object
physical_work_environment                               object
position                                                object
region                                                  object
relocation                                              object
role_service                                            object
role_start_date                                        float64
separationtype                                          object
south_sea                                               object
study/travel                                            object
torres_strait                                           object
traumatic_incident                                      object
work_life_balance                                       object
work_location                                           object
workarea                                                object
workload                                                object
dtype: object

In [183]:
combined_updated_fin = combined_updated_fin['contributing_factors._ill_health'].apply(update_vals)

* Main reason of resignation is job dissatisfaction, newer employees are resigning more than older employees.